@model MyClassroom.Models.Parent

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>
                @Html.DisplayFor(modelItem => Model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>

    </tbody>
</table>

<form asp-action="ParentChat" method="post" enctype="multipart/form-data" asp-controller="ParentController">

    <div>
        <button type="submit" class="btn btn-primary" asp-action="ParentChat" asp-route-id="@Model.Id">Send Message to Teacher</button>
    </div>

</form>
