@model MyClassroom.Models.ParentIndexView

@{
    ViewData["Title"] = "Index";
}

<style>
    
    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
    }

    #note {
        margin-left: 35px;
        margin-right: 35px;
    }

 
</style>

<br />
<h1>Hello @Model.Parent.FirstName</h1>



<div class="card card.bg-info">
    <div class="card-header">
        <h6 class="text-center">Student Name</h6>
        <h1 class="text-center">@Model.Student.FirstName @Model.Student.LastName</h1>
    </div>
    <div class="card-body">
        <h6 class="text-center">Behaviors</h6>

        <div class="container">
            <div>
                <div class="float-child">
                    <div class="badge badge-success">Positive</div>
                    <table class="table table-hover table-success col" id="students">
                        <thead>
                            <tr>
                                <th scope="col">Description</th>
                                <th scope="col">Point</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var skill in Model.StudentSkills)
                            {

                                if (skill.Point > 0)
                                {
                                    <tr style="cursor:pointer">
                                        <td>@skill.Description</td>
                                        <td>@skill.Point</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div>
                <div class="float-child">
                    <div class="badge badge-secondary">Needs Work</div>
                    <table class="table table-hover table-secondary" id="students">
                        <thead>
                            <tr>
                                <th scope="col">Description</th>
                                <th scope="col">Point</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var skill in Model.StudentSkills)
                            {
                                if (skill.Point < 0)
                                {
                                    <tr style="cursor:pointer">

                                        <td>@skill.Description</td>
                                        <td>@skill.Point</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @if (Model.DailyNote != null)
    {
        <div class="alert alert-dismissible alert-danger" id="note">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Teacher's Daily Note!</h4>

            <p class="mb-0">@Model.DailyNote.Description</p>
        </div>
    }

    @if (Model.Homeworks != null)
    { 
        <div class="container" style="text-align:center">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Today's Homework</div>
                <div class="card-body">
                    <h4 class="card-title">@Model.Homeworks.Name</h4>
                    <p class="card-text">@Model.Homeworks.Description</p>
                </div>
            </div>
        </div>
    }


</div>


    @*<hr class="my-4">*@
