@model MyClassroom.Models.TeacherStudenViewModel

@{
    ViewData["Title"] = "SelectedStudent";
}

<style>
    .float-container {
        border: 3px solid #fff;
/*        padding: 20px;
*/    }

    .float-child {
        width: 50%;
        float: left;
        padding: 10px;
/**/    }

    #divHead {
        text-align: center;
    }
</style>


<br />
<h5>Classroom: @Model.Classroom.Name</h5>
<a class="badge badge-secondary" asp-action="SelectedClassroom" asp-route-id="@Model.Classroom.Id">Back to @Model.Classroom.Name</a>


<div class="card">
    <div class="card-header">
        <div id="divHead">
            <h4>@Model.Student.FirstName @Model.Student.LastName</h4>
            <h4>Point: @Model.Student.Point</h4>
        </div>
        <div class="containeer single-line" style="text-align:center">
            <form asp-action="RedeemPoints" asp-controller="Teacher" asp-route-id="@Model.Student.Id" method="post">
                <button type="submit" class="btn btn-primary" data-toggle="modal">Redeem Points</button>
            </form>

            <form asp-action="TeacherChat" method="post" enctype="multipart/form-data" asp-controller="Teacher">
                <button type="submit" class="btn btn-primary" asp-action="TeacherChat" asp-route-id="@Model.Classroom.Id">Send Message to Parent</button>
            </form>

            <form asp-action="AddDailyNote" asp-controller="Teacher" asp-route-id="@Model.Student.Id" method="post">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDailyNoteModal">Add Daily Note</button>
            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="float-container">
            <div>
                <div class="float-child">
                    <div class="badge badge-success">Positive</div>
                    <form asp-action="AddPoints" method="post" enctype="multipart/form-data" asp-controller="Teacher">
                        <table class="table table-hover table-success" id="students">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Point</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var skill in Model.Skills)
                                {
                                    if (skill.Point > 0)
                                    {
                                        <tr style="cursor:pointer">
                                            <th scope="row">
                                                <input type="checkbox" name="selectedSkill" value="@skill.Id" />
                                            </th>
                                            <td>@skill.Description</td>
                                            <td>@skill.Point</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div style="text-align:center" ;>

                            <button type="submit" class="btn btn-success" asp-action="AddPoints" asp-route-id="@Model.Student.Id">
                                Add Positive
                            </button>
                        </div>
                    </form>
                </div>

                <div class="float-child">
                    <div class="badge badge-secondary">Needs Work</div>
                    <form asp-action="AddPoints" method="post" enctype="multipart/form-data" asp-controller="Teacher">

                        <table class="table table-hover table-secondary" id="students">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Point</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var skill in Model.Skills)
                                {
                                    if (skill.Point < 0)
                                    {
                                        <tr style="cursor:pointer">
                                            <th scope="row">
                                                <input type="checkbox" name="selectedSkill" value="@skill.Id" />
                                            </th>
                                            <td>@skill.Description</td>
                                            <td>@skill.Point</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div style="text-align:center" ;>
                            <button type="submit" class="btn btn-secondary" asp-action="AddPoints" asp-route-id="@Model.Student.Id">
                                Add Needs Work
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>








<!--addStudentModal Homework -->
<div class="modal fade" id="addDailyNoteModal" tabindex="-1" aria-labelledby="addDailyNoteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="AddDailyNote" method="post" enctype="multipart/form-data" asp-controller="Teacher">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDailyNoteModal">@Model.Student.FirstName's Daily Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <textarea asp-for="DailyNote.Description" type="text" class="form-control" id="formGroupExampleInput" rows="3" spellcheck="false" placeholder="Add Daily Note Here!" ></textarea>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" asp-action="AddDailyNote" asp-controller="Teacher" asp-route-id="@Model.Student.Id">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>









<script>
    const allTr = document.querySelectorAll("#students tbody tr");
    for (const tr of allTr) {
        tr.onclick = function (event) {
            if (event.target.localName === "input") return;
            event.preventDefault();
            this.querySelector("input").checked = !this.querySelector("input").checked;
        };
    }
</script>
