@model MyClassroom.Models.TeacherStudenViewModel

@{
    ViewData["Title"] = "SelectedStudent";
}

<style>
    .float-container {
        border: 3px solid #fff;
        padding: 20px;
    }

    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
    }
</style>


<br />
<h5>Classroom: @Model.Classroom.Name</h5>
<h4>Student: @Model.Student.FirstName @Model.Student.LastName</h4>
<h4>Student: @Model.Student.Point</h4>
<a class="badge badge-secondary" asp-action="SelectedClassroom" asp-route-id="@Model.Classroom.Id">Back to @Model.Classroom.Name</a>

<div class="containeer" style="text-align:center">
    <form asp-action="TeacherChat" method="post" enctype="multipart/form-data" asp-controller="Teacher">

        <div>
            <button type="submit" class="btn btn-primary" asp-action="TeacherChat" asp-route-id="@Model.Classroom.Id">Send Message to Parent</button>
        </div>

    </form>
</div>

<div class="float-container">
    <div>
        <div class="float-child">
            <div class="green">Positive</div>
            <form asp-action="AddPoints" method="post" enctype="multipart/form-data" asp-controller="Teacher">
                <table class="table table-hover table-success" id="students">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">Point</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var skill in Model.Skills)
                        {
                            if (skill.Point > 0)
                            {
                                <tr style="cursor:pointer">
                                    <th scope="row">
                                        <input type="checkbox" name="selectedSkill" value="@skill.Id" />
                                    </th>
                                    <td>@skill.Description</td>
                                    <td>@skill.Point</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div style="text-align:center" ;>

                    <button type="submit" class="btn btn-success" asp-action="AddPoints" asp-route-id="@Model.Student.Id">
                        Add Positive
                    </button>
                </div>
            </form>
        </div>

        <div class="float-child">
            <div class="blue">Needs Work</div>
            <form asp-action="AddPoints" method="post" enctype="multipart/form-data" asp-controller="Teacher">

                <table class="table table-hover table-secondary" id="students">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">Point</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var skill in Model.Skills)
                        {
                            if (skill.Point < 0)
                            {
                                <tr style="cursor:pointer">
                                    <th scope="row">
                                        <input type="checkbox" name="selectedSkill" value="@skill.Id" />
                                    </th>
                                    <td>@skill.Description</td>
                                    <td>@skill.Point</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div style="text-align:center" ;>
                    <button type="submit" class="btn btn-secondary" asp-action="AddPoints" asp-route-id="@Model.Student.Id">
                        Add Needs Work
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<div class="float-container">
        <div class="float-child">
            <div class="containeer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Add Positive
                </button>
            </div>
        </div>
        <div class="float-child">
            <div class="containeer">
                <button type="button" class="btn btn-primary" data-toggle="modal1" data-target="#exampleModal">
                    Add Needs Work
                </button>

            </div>
        </div>
    </div>*@




<script>
    const allTr = document.querySelectorAll("#students tbody tr");
    for (const tr of allTr) {
        tr.onclick = function (event) {
            if (event.target.localName === "input") return;
            event.preventDefault();
            this.querySelector("input").checked = !this.querySelector("input").checked;
        };
    }
</script>
