@model MyClassroom.Models.TeacherClassroomViewModel

@{
    ViewData["Title"] = "SelectedClassroom";
}
<br />

<h1>Hello @Model.Teacher.FirstName</h1>
<h3>@Model.Classroom.Name</h3>

<br />
<style>
    .btn {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .butt {
        width: 200px;
        height: 200px;
    }
</style>

<!-- Button trigger modal -->
<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add Student
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Reset All Points
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Assign Homework
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="AddStudent" method="post" enctype="multipart/form-data" asp-controller="TeacherController">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover" id="students">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in Model.AllStudents)
                            {
                                <tr style="cursor:pointer">
                                    <th scope="row">
                                        <input type="checkbox" name="selectedStudent" value="@student.Id" />
                                    </th>
                                    <td>@student.FirstName</td>
                                    <td>@student.LastName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" asp-action="AddStudent" asp-route-id="@Model.Classroom.Id">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="row">
    @foreach (var item in Model.Students)
    {
    <div>
        <a type="button" class="btn btn-primary btn-lg butt" asp-action="" asp-route-id="@item.Id">@item.FirstName @item.LastName MyClass Points: @item.Point</a>
    </div>
    }
</div>

<script>
    const allTr = document.querySelectorAll("#students tbody tr");
    for (const tr of allTr) {
        tr.onclick = function (event) {
            if (event.target.localName === "input") return;
            event.preventDefault();
            this.querySelector("input").checked = !this.querySelector("input").checked;
        };
    }
</script>